#header {
    background-color:black;
    color:white;
    text-align: center;
    padding: 5px;

}

#canvas-section {



}

#my-gui-container {

    position: absolute;;
    left: 1000px;
    top: 100px;
}

#camera-section {

    position: absolute;
    left: 500px;
    top: 700px;

    height: 100px;
    width: 900px;


}

#object-section {

    position:absolute;
    left: 200px;
    top: 700px;


    height: 50px;
    width: 50px;

}

#size-section {

    position: absolute;
    left: 100px;
    top: 900px;


    height: 100px;
    width: 900px;

}

#location-section {

    position:absolute;
    left: 100px;
    top: 1000px;


    height: 100px;
    width: 1000px;


}

#rotation-section {

    position: absolute;
    left: 100px;
    top: 1100px;

    height: 100px;
    width: 900px;


}

#color-section {

    position: absolute;
    left: 300px;
    top: 700px;


    height: 200px;
    width: 50px;

}

#add-object-section {

    position: absolute;
    left: 100px;
    top: 700px;


    height: 50px;
    width: 50px;


}